
.TWyTecAffix {
    width: 100vw;
}

.TWyTecAffixPane {
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
}

.TWyTecAffixPane ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .TWyTecAffixPane ul li {
        margin-left: 10px;
        margin-bottom: 5px;
    }

.TWyTecAffixPaneButton {
    background-color: transparent;
    border: 0px none transparent;
    cursor: pointer;
}

    .TWyTecAffixPaneButton:hover {
        border-left: 2px solid dodgerblue !important;
        color: dodgerblue !important;
    }

    .TWyTecAffixPaneButton:focus {
        outline: none;
    }

.TWyTecAffixPaneButtonActive {
    border-left: 2px solid dodgerblue !important;
    color: dodgerblue !important;
}

.TWyTecAffixPaneItemHidden{
    visibility: hidden;
    height: 0px;
}

.TWyTecAffixContent {
    width: 80vw;
    padding: 20px;
}


