
.TWyTecSplitView {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2f2f2f;
}

.TWyTecSplitViewPane {
    grid-column: 1;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    transition: max-width 0.3s;
}

.TWyTecSplitViewContent {
    grid-column: 2;
    padding: 10px;
}

.TWyTecSplitViewPaneOverlay {
    position: absolute;

}